<app-blank pageName="Kullanıcılar" [routes]="['Admin','Kullanıcılar']">
    <app-section sectionTitle="Kullanıcı Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Kullanıcı Ekle
                </button>
            </div>

            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="Aranacak değer girin...">
            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>UserName</th>
                        <th>Mail Adresi</th>
                        <th>Bağlı Olduğu Şirketler</th>
                        <th>Admin Mi?</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of users | user: search ;track data){
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.fullName}}</td>
                        <td>{{data.userName}}</td>
                        <td>{{data.email}}</td>
                        <td>
                            <ul>
                                @for(companyUser of data.companyUsers; track companyUser;){
                                    <li>{{companyUser.company.name}}</li>
                                }
                            </ul>
                        </td>
                        <td>
                            @if(data.isAdmin){
                                <span class="text-success">Evet</span>
                            }@else {
                                <span class="text-danger">Hayır</span>
                            }
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#updateModal" (click)="get(data)" class="btn btn-outline-primary btn-sm me-1">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button (click)="deleteById(data)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kullanıcı Ekleme Formu</h1>
                <button type="button" #createModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.firstName" class="form-control" name="firstName">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Soyad</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.lastName" class="form-control" name="lastName">
                        <div class="invalid-feedback"></div>
                    </div>   
                    
                    <div class="form-group mt-2">
                        <label>UserName</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.userName" class="form-control" name="userName">
                        <div class="invalid-feedback"></div>
                    </div>  

                    <div class="form-group mt-2">
                        <label>Mail Adresi</label>
                        <input type="email" required minlength="3" [(ngModel)]="createModel.email" class="form-control" name="email">
                        <div class="invalid-feedback"></div>
                    </div> 
                    
                    <div class="form-group mt-2">
                        <label>Şifre</label>
                        <input type="password" required [(ngModel)]="createModel.password" class="form-control" name="password">
                        <div class="invalid-feedback"></div>
                    </div>  

                    <div class="form-group mt-2">
                        <label>Bağlı Olduğu Şirketler</label>
                        <select name="companyIds" [(ngModel)]="createModel.companyIds" class="form-control" multiple required>
                            @for(company of companies; track company){
                                <option [value]="company.id">
                                    {{company.name}}
                                </option>
                            }
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="createModel.isAdmin" name="isAdmin" id="isAdminCheck">
                            <label class="form-check-label" for="isAdminCheck">
                              Admin Mi?
                            </label>
                          </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Kullanıcı Güncelleme Formu</h1>
                <button type="button" #updateModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.firstName" class="form-control" name="updateFirstName">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Soyad</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.lastName" class="form-control" name="updateLastName">
                        <div class="invalid-feedback"></div>
                    </div>   
                    
                    <div class="form-group mt-2">
                        <label>UserName</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.userName" class="form-control" name="updateUserName">
                        <div class="invalid-feedback"></div>
                    </div>  

                    <div class="form-group mt-2">
                        <label>Mail Adresi</label>
                        <input type="email" required minlength="3" [(ngModel)]="updateModel.email" class="form-control" name="updateEmail">
                        <div class="invalid-feedback"></div>
                    </div>  

                    <div class="form-group mt-2">
                        <label>Şifre</label>
                        <input type="password" [(ngModel)]="updateModel.password" class="form-control" name="updatePassword">
                        <div class="invalid-feedback"></div>
                    </div>  

                    <div class="form-group mt-2">
                        <label>Bağlı Olduğu Şirketler</label>
                        <select name="updateCompanyIds" [(ngModel)]="updateModel.companyIds" class="form-control" multiple required>
                            @for(company of companies; track company){
                                <option [value]="company.id">
                                    {{company.name}}
                                </option>
                            }
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="createModel.isAdmin" name="isAdmin" id="isAdminCheck">
                            <label class="form-check-label" for="isAdminCheck">
                              Admin Mi?
                            </label>
                          </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>