<app-blank pageName="Şirketler" [routes]="['Admin','Şirketler']">
    <app-section sectionTitle="Şirket Listesi">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Şirket Ekle
                </button>
            </div>

            <div class="col-3">
                <input [(ngModel)]="search" type="search" class="form-control" placeholder="Aranacak değer girin...">
            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Şirket Adı</th>
                        <th>Adres</th>
                        <th>Vergi Dairesi</th>
                        <th>Vergi Numarası</th>
                        <th>Server</th>
                        <th>Database Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @for(data of companies | company: search ;track data){
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.fullAddress}}</td>
                        <td>{{data.taxDepartment}}</td>
                        <td>{{data.taxNumber}}</td>
                        <td>{{data.database.server}}</td>
                        <td>{{data.database.databaseName}}</td>
                        <td>
                            <button data-toggle="modal" data-target="#updateModal" (click)="get(data)" class="btn btn-outline-primary btn-sm me-1">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button (click)="deleteById(data)" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </app-section>
</app-blank>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Şirket Ekleme Formu</h1>
                <button type="button" #createModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Şirket Adı</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.name" class="form-control" name="name">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Açık Adres</label>
                        <input type="text" required minlength="3" [(ngModel)]="createModel.fullAddress" class="form-control" name="fullAddress">
                        <div class="invalid-feedback"></div>
                    </div>   

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Vergi Daresi</label>
                                <input type="text" required minlength="3" [(ngModel)]="createModel.taxDepartment" class="form-control" name="taxDepartment">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Vergi Numarası</label>
                                <input type="text" required minlength="10" maxlength="11" [(ngModel)]="createModel.taxNumber" class="form-control" name="taxNumber">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Server</label>
                                <input type="text" required minlength="3" [(ngModel)]="createModel.database.server" class="form-control" name="server">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Database Adı</label>
                                <input type="text" required minlength="3" [(ngModel)]="createModel.database.databaseName" class="form-control" name="databaseName">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Kullanıcı Id</label>
                                <input type="text" [(ngModel)]="createModel.database.userId" class="form-control" name="userId">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Şifre</label>
                                <input type="text" [(ngModel)]="createModel.database.password" class="form-control" name="password">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-dark w-100">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Şirket Güncelleme Formu</h1>
                <button type="button" #updateModalCloseBtn class="btn btn-outline-danger" data-dismiss="modal">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Şirket Adı</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.name" class="form-control" name="updateName">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label>Açık Adres</label>
                        <input type="text" required minlength="3" [(ngModel)]="updateModel.fullAddress" class="form-control" name="updateFullAddress">
                        <div class="invalid-feedback"></div>
                    </div>   

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Vergi Daresi</label>
                                <input type="text" required minlength="3" [(ngModel)]="updateModel.taxDepartment" class="form-control" name="updateTaxDepartment">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Vergi Numarası</label>
                                <input type="text" required minlength="10" maxlength="11" [(ngModel)]="updateModel.taxNumber" class="form-control" name="updateTaxNumber">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Server</label>
                                <input type="text" required minlength="3" [(ngModel)]="updateModel.database.server" class="form-control" name="updateServer">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Database Adı</label>
                                <input type="text" required minlength="3" [(ngModel)]="updateModel.database.databaseName" class="form-control" name="updateDatabaseName">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="form-group row mt-2">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Kullanıcı Id</label>
                                <input type="text" [(ngModel)]="updateModel.database.userId" class="form-control" name="updateUserId">
                                <div class="invalid-feedback"></div>
                            </div> 
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Şifre</label>
                                <input type="text" [(ngModel)]="updateModel.database.password" class="form-control" name="updatePassword">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="submit" class="btn btn-primary w-100">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>